<link rel="stylesheet" href="{{ url_for('static', filename='css/new_question.css') }}">
<form action="/edit/test" method="post">
    <div class="holder">
    <label>Tests</label>
    <div>
	<select name="tests">
		<option value="0">No test</option>
		{% for test in tests %}
		  <option value="{{ test.id }}">{{ test.title }}</option>
		{% endfor %}
	</select>
    </div>
    </br>
    <label>Title</label>
    <div>
    <input name="title" required />
    </div>
    </br>
    <label>Questions</label>
	<div>
	<select name="question_one">
		<option value="0">No question</option>
		{% for question in questions %}
		  <option value="{{ question.id }}">{{ question.question }}</option>
		{% endfor %}
	</select>
	</div>
	<div>
	<select name="question_two">
		<option value="0">No question</option>
		{% for question in questions %}
		  <option value="{{ question.id }}">{{ question.question }}</option>
		{% endfor %}
	</select>
	</div>
	<div>
	<select name="question_three">
		<option value="0">No question</option>
		{% for question in questions %}
		  <option value="{{ question.id }}">{{ question.question }}</option>
		{% endfor %}
	</select>
	</div>
    </br>
    <button type="submit">Submit</button>
    </div>
</form>
