<link rel="stylesheet" href="{{ url_for('static', filename='css/new_question.css') }}">
<form action="/edit/question" method="post">
    <div class="holder">
    <label>Questions</label>
    <div>
          <select name="questions" required>
		<option value="0">No question</option>
		{% for question in questions %}
		  <option value="{{ question.id }}">{{ question.question }}</option>
		{% endfor %}
    </select>
    </div>
    </br>
    
    <label>Question</label>
    <div>
    <input name="question" required />
    </div>
    </br>
    
    <label>Answer One</label>
    <div>	
    <input name="answer_one">
    </div>
    </br>
    
    <label>Answer Two</label>
    <div>	
    <input name="answer_two">
    </div>
    </br>
    
    <label>Answer Three</label>
    <div>
    <input name="answer_three">
    </div>
    </br>
    
    <label>Correct Answer Index</label>
    <div>
    <input type="number" name="correct_answer">
    </div>
    </br>
    
    <button type="submit">Submit</button>
    </div>
</form>
