<!Doctype html>
<head>
                <meta charset="UTF8"/>
                <title>Homepage</title>
		<!--<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/homepage.css')}}"> -->
</head>
<body bgcolor="GreenYellow">
	<div class="holder">
		<div>
			<button onclick="window.location.href = '/tests';">Show Tests</button>
		</div>
		<div>
			<button onclick="window.location.href = '/new/test';" class="button">New Test</button>
		</div>
		<div>
			<button onclick="window.location.href = '/delete/test';" class="button">Delete Test</button>
		</div>
		<div>
			<button onclick="window.location.href = '/new/question';" class="button">New Question</button>
		</div>
		<div>
			<button onclick="window.location.href = '/delete/question';" class="button">Delete Question</button>
		</div>
		<div>
			<button onclick="window.location.href = '/questions';" class="button">Show Questions</button>
		</div>
		<a class="link" href="/tests">Show Tests</a>
		<form action='/logout' method="POST">
		<input type="submit" value="Log out">
		</form>
	</div>
</body>

