<title>Homepage</title>

<a href="/tests">Show Tests</a> <br/>
<a href="/new/test">New Test</a> <br/>
<a href="/edit/test">Edit Test</a> <br/>
<a href="/delete/test">Delete Test</a> <br/>
<a href="/new/question">New Question</a> <br/>
<a href="/edit/question">Edit Question</a> <br/>
<a href="/delete/question">Delete Question</a> <br/>
<a href="/questions">Show Questions</a> <br/>
<a href="/users">Show Users</a> <br/>
<form action='/logout' method="POST">
<input type="submit" value="Log out">
</form>
