<form action="/new/test" method="post">
    <label>Title</label>
    <input name="title" required />
    </br>
    <label>Questions</label>
	<select name="question_one">
		<option value="0">No question</option>
		{% for question in questions %}
		  <option value="{{ question.id }}">{{ question.question }}</option>
		{% endfor %}
	</select>
	<select name="question_two">
		<option value="0">No question</option>
		{% for question in questions %}
		  <option value="{{ question.id }}">{{ question.question }}</option>
		{% endfor %}
	</select>
	<select name="question_three">
		<option value="0">No question</option>
		{% for question in questions %}
		  <option value="{{ question.id }}">{{ question.question }}</option>
		{% endfor %}
	</select>
    </br>
    <button type="submit">Submit</button>
</form>
