<form action="/new/question" method="post">
    <label>Question</label>
    <input name="question" required />
    </br>
    
    <label>Answer One</label>
	<input name="answer_one" />
    </br>
    
    <label>Answer Two</label>
	<input name="answer_two" />
    </br>
    
    <label>Answer Three</label>
	<input name="answer_three" />
    </br>
    
    <label>Correct Answer Index</label>
    <input type="number" name="correct_answer" required />
    </br>
    
    <button type="submit">Submit</button>
</form>
