<!DOCTYPE html>
<html>
	<head>
		<title>Test {{ test.id }}</title>
		<link rel="stylesheet" href="test.css">
	</head>

	<body>
		<h1>{{ test.title }} - Test {{ test.id }}</h1>

		<form action="/test/{{ test.id }}" method="post">
			{% for question in test.questions %}
					<fieldset>
						<legend>{{ test.questions.index(question) + 1 }}) {{ question.question }}</legend>
							{% for answer in question.answers %}
							<input class="answer-field" type="radio" name="{{ question.answers.index(answer) }}" value="{{ answer }}">{{ answer }}</input>
							{% endfor %}
					</fieldset>
			{% endfor %}

			<button type="submit">Submit</button>
		</form>
	</body>
</html>


