<title>Test {{ test.id }} Grading</title>
<h1>{{ test.title }} - Test {{ test.id }}</h1>
{% for question in test.questions %}
	<h2>Question {{ test.questions.index(question) + 1 }}: {{ question.question }} -> {{ test.correct_answers[test.questions.index(question)] }}.</h2>
	<ul>
		<li>Given answer: {{ question.user_answer }}</li>
		<li>Correct answer was: {{ question.correct_answer }}</li>
	</ul>
{% endfor %}

<h2>Grade: {{ test.count_correct() }} % </h2>

<h2>Additional Information:</h2>
<ol>
	<li>Incorrect answer percentage: {{ test.count_incorrect() }} % </li>
</ol>
